@model WorkCreateDto
<!DOCTYPE html>
    <html>
    <head>
        	<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <title>To Do App</title>
    </head>
    <body>
	<div class="container">
        <form asp-action="Create" asp-controller="Home" method="post">
			<div class="mb-3">
                <div class="mb-3">
                  <label>Tanımı</label>
                  <input type="text" class="form-control" asp-for="@Model.Defination">
                </div>
				<div class="form-check">
                  <label>Tamamlandımı</label>
                  <input class="form-check-input" type="checkbox"  asp-for="@Model.IsCompleted">
                </div>
				<div class="mb-3">
					<button type="submit" class="btn btn-outline-danger">Kaydet</button>
                </div>

            </div>
			<div asp-validation-summary=All class="text-danger"></div>
        </form>
    </div>
    </body>
    </html>